* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --light-tan: #F1EDED;
    --dark-tan: #DDCCBD;
    --gunmetal: #212121;
    --green: green;
}
body{
    font-family: "Inter", sans-serif;
}
.header{
    height: 60px;
    background-color: var(--dark-tan);
    display: flex;
    justify-content: center;
}
.header__content{
    width: 90%;
    max-width: 1304px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}
.header__logo{
    mix-blend-mode: multiply;
}
.nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn{
    border: none;
    background-color: var(--gunmetal);
    color: var(--light-tan);
    font-size: 1rem;
    padding: .618em 1em;
    border-radius: 2em;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    letter-spacing: -.05em;
    font-weight: 900;
}
.btn--bordered{
    border: 2px solid var(--green)
}
.header__instagram-link{
height: 31px;
}