.about{
    padding: 2rem 0px;
    background-image:url(/assets/img/about_bg_07.jpeg);
    background-size: cover;

}
.about__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.about__h1{
    color: var(--gunmetal);
    max-width: 1304px;
    margin-inline: auto;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.1em;
    ;
}

.h1--fraunces{
font-size: 3.8rem;
}
.about__h1--fraunces {
    font-size: 3.8rem;
    font-family: "Fraunces", serif;
    font-weight: 500;
    letter-spacing: -.01rem;
}
.carousel{
    width: 100%;
    margin-bottom: 1rem;
}
.carousel-cell{
    width: calc(1536px*.23);
    padding: 0px .5rem;
}
.carousel-cell > img{
    inline-size: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 12px;
}
.flickity-button {
  background: #333;
}
.flickity-button:hover {
  background: #F90;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}

/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
@media (max-width: 1288px) {
        .carousel-cell{
        width:  calc(1024px*.28);
    }
}

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
@media (max-width: 758px) {
        .carousel-cell{
        width: calc(640px*.45);
    }
    .about__h1{
        font-size: 2.4rem;
    }
    .about__h1--fraunces{
        font-size: 3rem;
    }
}

/* sm */
@media (max-width: 640px) {
        .carousel-cell{
        width: 82%;
    }
}

/* xs */
/* @media (max-width: 475px) {} */