@import url("https://unpkg.com/open-props");


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --light-tan: #F1EDED;
    --dark-tan: #DDCCBD;
    --gunmetal: #212121;
    --green: #6F8D69;
}
body{
    font-family: "Inter", sans-serif;
}
.h1{
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.1em;
}